/*
*
* 新浪表单只能提示
*
*
*/
*{ 
	margin:0;
	padding:0;
}
body{ 
	font:12px/1.125 Arial,Helvetica,sans-serif;
}
li{ 
	list-style:none;
}
#login{ 
	width:252px;
	height:385px;
	background:url(../img/bg.jpg) no-repeat;
	margin:20px auto;
	position:relative;
}
.detail{
	margin:0 0 5px 30px;
	position:relative;
	top:110px;
}
.detail input{ 
	color: #999999;
	border:1px solid #74C8E5;
	border-radius:3px 3px 3px 3px;
	height:25px; line-height:25px;
	padding:8px 5px 7px; 
	width:184px;}
#suggest{ 
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #CCCCCC;
	left:30px; margin:0;
	overflow:hidden;
	padding:0; position:absolute;
	text-align:left; top:142px;
	visibility:visible;
	width:194px;
	z-index:1;
	display:none;
}
.note, .item{ 
	clear: both;
	color: #999999;
	cursor: pointer;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	list-style: none outside none;
	margin: 0 1px; padding: 0 5px; 
	white-space: nowrap;
}
.active{ 
	white-space:nowrap;
	clear:both;
	color:rgb(153, 153, 153);
	cursor:pointer;
	font-size:12px; 
	height:20px;
	line-height:20px;
	list-style:none outside none;
	margin:0pt 1px;
	padding:0pt 5px;
	background:none repeat scroll 0% 0% rgb(232, 244, 252);
}